body{
    background-color: #1b2a4e;
}
.Contacto{
    
    color: white;
    width: 10px;
    height: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.h1{
    text-decoration-color: white;
    color: white;
    text-align: center;
    width: 10px;
    height: 10px;
}
.linea{
    border-top: 1px solid white;
 min-height: 1px;
   padding: 0;
   margin: 40px auto 0 auto;
}
.footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;

}


