body{
    background-color: #1b2a4e;
}
.linea{
    border-top: 1px solid rgb(255, 254, 251);
    height: 1px;
   padding: 0;
   margin: 40px auto 0 auto;


}
.footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;

}
