body{
    background-color: #1b2a4e;
}
p{
    color: white;
    text-align: center;
    width: 10px;
    height: 10px;
}
.linea{
    border-top: 1px solid white;
 min-height: 1px;
   padding: 0;
   margin: 40px auto 0 auto;
}
.footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;

}


