html{
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: #333;

}
h2{
    color: #666;
}
h6{
    color: #000;
}
table{
    
    border: 1px solid black;
 
}
th{
    background-color: #666;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
tr{
    
    border: 1px solid black;
    background-color: #fff;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    
    background-color: #ccc;
}